.ctaBlock {
    display: flex;
    flex-flow: column;
    justify-content: center;
    
    margin-left: 70px;
}

.ctaBlock.left {
    align-items: flex-start;
}

.ctaBlock.center {
    align-items: center;
}

.ctaBlock h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 126%;
    color: #000000;
    margin: 12px 0;
}



.ctaBlock p {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 138.5%;
    letter-spacing: 0.08em;
    color: #616161;
    margin: 0;
    white-space: pre-wrap;
}

.ctaBlock.left h1, .ctaBlock.left p {
    text-align: start;
}

.ctaBlock.center h1, .ctaBlock.center p {
    text-align: center;
}

.ctaBlock Button {
    margin-top: 24px;
}