.menuButton {
    display: none;
}

.topNav {
    font-family: rubik;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    z-index: 100;
}

.logo {
    margin-left: 52px;
    margin-right: 40px;
}

.topNav ul {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  margin: 0;
  margin-top: 37px;
  padding: 0;
  justify-content: space-between;
}

.menuItems {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.menuPageItems {
    
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.14em;
}
.menuPageItems a {
    font-family: Raleway;
    line-height: 40px;
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    text-decoration: none;
    vertical-align: middle;
    margin: 0 20px;
}

.menuPageItems a:last-child {
    margin-right: 38px;
}


.menuPageItems a:hover {
    color: rgba(236, 88, 99, 1);
}

.topNav button {
    margin-right: 43px;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 25vw;
}

.menuButtons {
    justify-self: start;
    margin: 0;
}

@media only screen and (max-width: 860px) {
    .menuItems {
        display: none;
    }

    .topNav ul {
        justify-content: center;
        margin-top: 16px;
    }

    .logo {
        margin: 0;
    }

    .menuButton {
        display: inline-block;
        height: 22px;
        width: 29px;
        margin: 9px auto; /*9px = navbar height - menu icon height / 2*/
        position: absolute;
        left: 16px;
        vertical-align: middle;
    }
    
}
