.topNav {
    font-family: rubik;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    z-index: 100;
}

.topNav ul {
    margin: 0;
    padding: 0;
}



.logo {
    margin-left: 52px;
    margin-right: 40px;
}

.topNav ul {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 37px;
  justify-content: space-between;
}

.menuItems {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.menuPageItems {
    
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: Raleway;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.14em;
}
.menuPageItems a {
    line-height: 40px;
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    text-decoration: none;
    vertical-align: middle;
    margin: 0 20px;
}

.menuPageItems a:last-child {
    margin-right: 38px;
}


.menuPageItems a:hover {
    color: rgba(236, 88, 99, 1);
}

.topNav button {
    margin-right: 43px;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 25vw;
}