* {
    font-family: rubik;
}

.landing-section {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    /* TODO  remove all debuggin background-colors*/
    /* background-color: red; */
    height: 100vh;
    background-image: url("./images/red-round-corner-box.svg");
    background-position: right;
    background-size: contain;
}


.landing-content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
}

.mid-section {
    /* background-color: yellow; */
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding-bottom: 77px; /*70px = navbar + top margin*/
}


.mid-section img {
    display: flex;
    margin-right: 52px;
    /* background-color: aquamarine; */
    width: calc(50% + 25px)
}



.watch-video-item {
    position: absolute;
    bottom: 0;
}


.watch-video {
    /* background-color: mediumspringgreen; */
    display: inline-flex;
    flex-flow: row;
    margin-left: 70px;
    margin-bottom: 48px;
}

.watch-video-text-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-left: 12px;
}

.watch-video-text-container p:first-child {
    font-size: 13px;
    line-height: 126%;
    letter-spacing: 0.08em;
    color: #B0B0B0;
    margin-bottom: 5px;
}

.watch-video-text-container  p:last-child {
    font-size: 9px;
    line-height: 126%;
    letter-spacing: 0.165em;
    text-transform: uppercase;
    color: #000000;
}

