.button {
    min-width: 130px;
    min-height: 40px;
    border-radius: 5px;
    color: white;
    font-family: Raleway;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.14em;
    border: 0;
    cursor: pointer;
}

.blue {
    background: #4285F4;
}
.blue:hover {
    background: #286ce2;
}

.red {
    background: #EC5863;
}

.red:hover {
    background: #c23b44;
}